
<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="text-muted"> &copy; 2022 Martin Furnitures </p>
      </div>
      <div class="col-md-6 text-md-right">
        <a href="#" class="text-light">thedinantz@gmail.com</a>
        <span class="px-2"> | </span>
        <a href="#" class="text-light">+999-999-999</a>
        <span class="px-2"> | </span>
        <span class="text-light">Силиврия-22</span>
      </div>
    </div>
  </div>
</footer>
</body>
</html>