{% load static %}
<header class="section-header bg-dark text-light">
  <section class="header-main border-bottom">
      <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2 col-md-3 col-6">
        <a href="{% url 'home' %}" class="brand-wrap">
          <img class="logo" src="{% static './images/logo.png' %}">
        </a> <!-- brand-wrap.// -->
      </div>
      <div class="col-lg col-sm col-md col-6 flex-grow-0">
        <div class="category-wrap dropdown d-inline-block float-right">
          <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bars"></i> Всички категории
          </button>
          <div class="dropdown-menu bg-dark">
            <a class="dropdown-item text-light" href="{% url 'store' %}">Всички категории </a>
            {% for category in links %}
                <a class="dropdown-item text-light" href="{{ category.get_url }}">{{ category.category_name }} </a>
            {% endfor %}
        </div>
        </div>  <!-- category-wrap.// -->
          </div> <!-- col.// -->
          <a href="{% url 'store' %}" class="btn btn-outline-light">Магазин</a>
            <div class="col-lg  col-md-6 col-sm-12 col">
              <form action="{% url 'search' %}" class="search my-2 my-lg-0">
              <div class="input-group w-100">
              <input type="text" class="form-control bg-dark text-light" placeholder="Търси" name="keyword" required>
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
              </form>
            </div>
            <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3 text-light">
              <div class="d-flex justify-content-end mb-3 mb-lg-0">
                  {% if user.id is None %}
                  <div class="widget-header bg-dark">
                      <small class="title">Добре дошъл гост!</small>
                      <div>
                          <a href="{% url 'login' %}" class="text-light">Вход</a> <span class="dark-transp"> | </span>
                          <a href="{% url 'register' %}" class="text-light"> Регистрирай се</a>
                      </div>
                  </div>
                  {% else %}
                  <div class="widget-header bg-dark">
                      <small class="title">Добре дошли {{user.first_name}}!</small>
                      <div>
                          <a href="{% url 'dashboard' %}" class="text-light">Табло за управление</a> <span class="dark-transp"> | </span>
                          <a href="{% url 'logout' %}" class="text-light"> Излез от профила</a>
                      </div>
                  </div>
                  {% endif %}
                  <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3 text-light">
                    <div class="icon icon-sm rounded-circle border text-light">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <span class="badge badge-pill badge-light notify">{{cart_count}}</span>
                </a>
            </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
    </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
</header> <!-- section-header.// -->