{% load static %}
<header class="navbar navbar-expand-lg navbar-dark coloringlinear">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static './images/logo.png' %}" width="100" height="100">
    </a>
    
    <a href="{% url 'store' %}" class="a-glow"><span></span>
      <span></span>
      <span></span>
      <span></span>Магазин</a>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-auto" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn btn-outline-light text-light" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Всички категории
          </a>
          <div class="dropdown-menu coloringlinear" aria-labelledby="navbarDropdownMenuLink">
            {% for category in links %}
              <a class="dropdown-item text-light"  href="{{ category.get_url }}">{{ category.category_name }}</a>
            {% endfor %}
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'search' %}">
        <div class="input-group">
          <input type="text" class="form-control border-right-0" placeholder="Търси" name="keyword" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary border-left-0" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Табло</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Излез от профила</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Вход</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Регистрирай се</a>
        </li>
      {% endif %}
      </ul>

        <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3 text-light">
          <div class="icon icon-sm rounded-circle border text-light">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <span class="badge badge-pill badge-light notify">{{cart_count}}</span>
        </a>
      </div> <!-- collapse navbar-collapse ml-auto" id="navbarNav" -->
    </div> <!-- container-->
</header>