{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ++++++++++++++++++++++++++IF I WANT A WHEEL+++++++++++++++++++++++++++++-->
<section class="section padding-y-sm coloringlinear">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-info float-right">Виж всички</a>
	<h3 class="section-title text-light">Мебели</h3>
</header><!-- sect-heading -->

<div class="font-weight-light">{{ product.type }}</div> <!-- type-wrap.// -->

<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title font-weight-bold">{{ product.product_name }}</a>
				<div class="font-weight-light">{{ product.type }}</div> <!-- type-wrap.// -->
				<div class="price mt-1">$ {{ product.price }}</div> <!-- price-wrap.// -->
				<div class="rating-star">
					<span>
						<i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
						</span>
				</div>
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->
</div><!-- container // -->
</section>

</body>
</html>

{% endblock content %}